body {
  min-width: 1000px;
}

header {
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
}

nav ul {
  justify-content: flex-end;
}

li {
  text-decoration: none;
  display: inline;
  margin: 10px;
}

li:hover {
  text-decoration: underline;
}

section {
  width: 100%;
  text-align: center;
}

section > img {
  display: inline-block;
  margin: 100px 0px 0px 0px;
}

#search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  height: 40px;
  width: 500px;
  border: 1px solid grey;
  box-shadow: black;
  border-radius: 20px;
}

#search-bar img {
  height: 30px;
  margin: 0 10px;
}

#search-bar input {
  width: 100%;
  border: 0px
}

#search-bar input:focus {
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0);
  outline: none;
}

button {
  padding: 5px 10px;
  margin: auto 5px;
}

#covid {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#covid img {
  height: 50px;
}

footer {
  padding-top: 10px;
  background-color: #F2F2F2;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer ul {
  justify-content: center;
}